/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.VueCarousel-slide.slide1 {
  width: 100%;
  height: 100vh;
  background: url("../img/img1.png") center center/cover;
}
@media screen and (min-width: 1024px) {
  .VueCarousel-slide.slide1 {
    background: url("../img/img1.png") center center/cover;
  }
}

.VueCarousel-slide.slide2 {
  width: 100%;
  height: 100vh;
  background: url("../img/img2.png") center center/cover;
}
@media screen and (min-width: 1024px) {
  .VueCarousel-slide.slide2 {
    background: url("../img/img2.png") center center/cover;
  }
}

.VueCarousel-slide.slide3 {
  width: 100%;
  height: 100vh;
  background: url("../img/img3.png") center center/cover;
}
@media screen and (min-width: 1024px) {
  .VueCarousel-slide.slide3 {
    background: url("../img/img3.png") center center/cover;
  }
}

.wrapper {
  background: linear-gradient(70deg, rgba(235, 143, 196, 0.2) 11%, rgba(235, 143, 196, 0.2) 15%, rgba(82, 141, 250, 0.2) 95%);
  font-family: serif;
}

.header {
  padding: 0 16px;
  width: 100%;
  height: 88px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 0 0 30px;
    width: 88px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.174);
    flex-direction: column;
  }
}

.gnav {
  padding: 0 16px;
}
@media screen and (min-width: 1024px) {
  .gnav {
    padding: 30% 50%;
  }
}

.mv {
  margin: 0 auto 64px;
}

@media screen and (min-width: 1024px) {
  .menu1 {
    margin-bottom: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu2 {
  margin: 0 auto;
  padding-bottom: 88px;
  width: 90%;
  max-width: 1280px;
}
@media screen and (min-width: 1024px) {
  .menu2 {
    margin: 0 auto 88px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.menu3 {
  margin: 0 auto;
  padding-bottom: 88px;
  width: 90%;
  max-width: 1280px;
}
@media screen and (min-width: 1024px) {
  .menu3 {
    margin: 0 auto 88px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

.footer {
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ttl {
  padding: 3%;
  background: #fff;
}
@media screen and (min-width: 1024px) {
  .header__ttl {
    padding: 50% 10%;
    margin-top: 10px;
    transition: 0.3s ease-in;
  }
}

.gnav__nav {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .gnav__nav {
    flex-direction: column;
  }
}
.gnav__link {
  padding-left: 16px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  display: block;
  transition: 0.3s;
}
.gnav__link:hover {
  opacity: 0.5;
}
@media screen and (min-width: 1024px) {
  .gnav__link {
    padding: 20px 0;
  }
}

.menu1__ttl {
  margin-bottom: 32px;
  font-size: 22px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .menu1__ttl {
    font-size: 32px;
  }
}
.menu1__bg {
  background: url("../img/img4.png") center center/cover;
  margin: 0 auto 64px;
  padding: 10%;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .menu1__bg {
    margin: 0 0 64px;
  }
}
.menu1__txt {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 1.6;
}
@media screen and (min-width: 1024px) {
  .menu1__txt {
    margin: 0 auto;
    max-width: 50%;
    font-size: 18px;
  }
}

.menu2__ttl {
  margin-bottom: 32px;
  font-size: 22px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .menu2__ttl {
    margin-bottom: 88px;
    font-size: 32px;
  }
}
.menu2__bg {
  background: url("../img/img5.png") center center/cover;
  margin-bottom: 32px;
  padding: 30%;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .menu2__bg {
    padding: 15%;
    max-width: 500px;
  }
}
.menu2__txt {
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 1.6;
}
@media screen and (min-width: 1024px) {
  .menu2__txt {
    max-width: 500px;
    font-size: 18px;
  }
}

.menu3__ttl {
  margin-bottom: 32px;
  font-size: 22px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .menu3__ttl {
    margin-bottom: 88px;
    font-size: 32px;
  }
}
.menu3__bg {
  background: url("../img/img6.png") center center/cover;
  margin-bottom: 32px;
  padding: 30%;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .menu3__bg {
    max-width: 500px;
    padding: 15%;
  }
}
.menu3__txt {
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 1.6;
}
@media screen and (min-width: 1024px) {
  .menu3__txt {
    max-width: 500px;
    font-size: 18px;
  }
}

.resize {
  height: 64px;
  background: linear-gradient(180deg, rgba(245, 238, 245, 0.308) 100%, rgba(255, 254, 255, 0.1) 100%);
  transition: translateY(50px);
}

.ttlResize {
  font-size: 32px;
  padding: 50%;
}

.elms {
  transform: translateY(50px);
  opacity: 0;
  transition: 0.5s ease;
}

.fadeIn {
  transform: translateY(0);
  opacity: 1;
}