.resize{
  height: 64px;
  background: linear-gradient(180deg, rgba(245, 238, 245, 0.308) 100%,rgba(255, 254, 255, .1) 100%);
  transition: translateY(50px);
}

.ttlResize{
  font-size: 32px;
  padding: 50%;
}

.elms{
  transform: translateY(50px);
  opacity: 0;
  transition: .5s ease-in;
}

.fadeIn{
  transform: translateY(0);
  opacity: 1;
}